.DS_Store
ipython_log.py
ipython_log.py*
*.swp
\.netrwhist
bundle/[^.]*
ipython_logs/[^.]*
# standard python ignores
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
.ropeproject

# ipython logs
ipython_log.py
ipython_logs.py

# bytecompiled python
*.pyc

# swap files
*.swp

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#submodule files I need to remove
#symlinks
_oh_my_zsh
