[submodule "vim/vim.symlink/bundle/gundo"]
	path = vim/vim.symlink/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/jquery"]
	path = vim/vim.symlink/bundle/jquery
	url = git://github.com/itspriddle/vim-jquery.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/hammer"]
	path = vim/vim.symlink/bundle/hammer
	url = git://github.com/matthias-guenther/hammer.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/repeat"]
	path = vim/vim.symlink/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/minibufexpl"]
	path = vim/vim.symlink/bundle/minibufexpl
	url = git://github.com/sontek/minibufexpl.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/VOoM"]
	path = vim/vim.symlink/bundle/VOoM
	url = git://github.com/vim-scripts/VOoM.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/taglist"]
	path = vim/vim.symlink/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/tabular"]
	path = vim/vim.symlink/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/pasta"]
	path = vim/vim.symlink/bundle/pasta
	url = git://github.com/sickill/vim-pasta.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/tcomment"]
	path = vim/vim.symlink/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/commentary"]
	path = vim/vim.symlink/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/TaskList"]
	path = vim/vim.symlink/bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/ack"]
	path = vim/vim.symlink/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/git"]
	path = vim/vim.symlink/bundle/git
	url = git://github.com/tpope/vim-git.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/gitv"]
	path = vim/vim.symlink/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/gist"]
	path = vim/vim.symlink/bundle/gist
	url = git://github.com/mattn/gist-vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/webapi"]
	path = vim/vim.symlink/bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/addon-mw-utils"]
	path = vim/vim.symlink/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/tlib"]
	path = vim/vim.symlink/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/AutoComplPop"]
	path = vim/vim.symlink/bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/flake8"]
	path = vim/vim.symlink/bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/pydoc"]
	path = vim/vim.symlink/bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/pyflakes-pathogen"]
	path = vim/vim.symlink/bundle/pyflakes-pathogen
	url = git://github.com/mitechie/pyflakes-pathogen.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/rope"]
	path = vim/vim.symlink/bundle/rope
	url = git://github.com/sontek/rope-vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/python"]
	path = vim/vim.symlink/bundle/python
	url = git://github.com/sorin-ionescu/python.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/javascript"]
	path = vim/vim.symlink/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/octave.vim"]
	path = vim/vim.symlink/bundle/octave.vim
	url = git://github.com/vim-scripts/octave.vim--.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore=dirty
[submodule "ubuntu-java/flexion-oab-java6"]
	path = ubuntu-java/flexion-oab-java6
	url = git://github.com/flexiondotorg/oab-java6
	ignore=dirty
[submodule "vim/vim.symlink/bundle/unimpaired"]
	path = vim/vim.symlink/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore=dirty
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = https://github.com/tpope/vim-rails.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/pep8"]
	path = vim/vim.symlink/bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/endwise"]
	path = vim/vim.symlink/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/scss-syntax"]
	path = vim/vim.symlink/bundle/scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/snipmate-snippets"]
	path = vim/vim.symlink/bundle/snipmate-snippets
	url = https://github.com/jtratner/snipmate-snippets
	ignore=dirty
[submodule "vim/vim.symlink/bundle/html5"]
	path = vim/vim.symlink/bundle/html5
	url = git://github.com/othree/html5.vim.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/indent-guides"]
	path = vim/vim.symlink/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/jade"]
	path = vim/vim.symlink/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/vim-flavored-markdown"]
	path = vim/vim.symlink/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/powerline"]
	path = vim/vim.symlink/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/vim-cython"]
	path = vim/vim.symlink/bundle/vim-cython
	url = git://github.com/tshirtman/vim-cython.git
	ignore=dirty
[submodule "vim/vim.symlink/bundle/vim-bufferline"]
	path = vim/vim.symlink/bundle/vim-bufferline
	url = git://github.com/bling/vim-bufferline.git
	ignore=dirty
