snippet divc
	<div class="${1:class}">
	  ${2}
	</div>
snippet tablec
	<table border="${1:0}" class="${2}">
		
	</table>
snippet formc
<form action="${1:action}" method="post" class="${3}" accept-charset="utf-8">
	
</form>

snippet tableform
<form action="${1:action}" method="post" class="${3}" accept-charset="utf-8">
<table border="${3:0}" class="${4}">
  <tbody>
    <tr>
      <td>${5}</td>
    </tr>
  </tbody>
</table>
</form>

snippet row
<tr>
  <td>${6}</td>
</tr>

